html{
  padding: 1em;
  padding-bottom: 0;
  -webkit-tap-highlight-color: transparent;
}
body{
  background-color: #eeeeee;
  /* background-image: url('https://img.freepik.com/free-vector/night-ocean-landscape-full-moon-stars-shine_107791-7397.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  margin: 0 auto;
  max-width: 992px;
}
#root{
  position: relative;
  min-height: 89vh;
}
body::-webkit-scrollbar{
  display: none;
}
@media(max-width: 992px){
  body{
    max-width: 768px;
  }
}
@media(max-width: 768px){
  body{
    max-width: 576px;
  }
}

/* .zoom-body{
  animation: zoombody 0.2s ease-out;
} */
/* .subcard{ */

  /* backdrop-filter: blur(3px); */
/* } */
.push-container{
  animation: move 0.25s ease-out;
}
@keyframes move {
  from{
    opacity: 0;
    transform: translateY(1em);
  }
}