html{
  padding: 1em;
  padding-bottom: 0;
  -webkit-tap-highlight-color: transparent;
}
body{
  background-color: #eeeeee;
  margin: 0 auto;
  max-width: 992px;
}
#root{
  position: relative;
  min-height: 89vh;
}
body::-webkit-scrollbar{
  display: none;
}
@media(max-width: 992px){
  body{
    max-width: 768px;
  }
}
@media(max-width: 768px){
  body{
    max-width: 576px;
  }
}